.navbar{
    display: flex;
    flex-direction: row;
    width: 500px;
    position: absolute;
    right: 0px;
    top: 30px;
    justify-content: space-around;
}
.navbar li{
    color: #141414;
    list-style: none;
    display: inline-block;
  position: relative;
}
.wave{
    
    position: absolute;
    bottom: 0px;
    display: block;
    padding: 0px;
    left: 0px;
    margin-bottom: -20px;
    display: inline-block;
}
.navbar li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(138, 146, 255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navbar li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.navbar li:hover{
    color: rgb(128, 136, 255);
    cursor: pointer;
}
.landing{
    position: relative;
    width: 100vw;
    height: 120vh;
    background: linear-gradient(#fff,rgb(216, 225, 255)) !important;
}
.intro{
    position: relative;
    margin: 0px;
    display: inline-block;
    font-size: 2em;
    top: 10%;
    font-weight: 200;
    left: 3%;
}
.imageContainer{
    position: absolute;
    right:10% ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    background: transparent;
    height: 400px;
    top: 20%;
    z-index: 2;
}
.SelectorDiv{
    width: 300px;
   position: absolute;
   display: flex;
   flex-direction: column;
   height: 50%;
   justify-content: space-around;
    right:10%
}
.imageContainer:hover .im1{
    transform: rotate(-20deg) translateX(-20%);
    
    
}
.introText{
    color: #141414;
    position: absolute;
    top:30%;
    left: 3%;
    width: 500px;
    font-weight: 400;
    transform: translateY(-50%);
}
.notesPage{
    width: 100vw;
    height: 100vh;
    background: #4ca15d;
    position: relative;
    margin: 0px;
    
}
.imageContainer:hover .im3{
    transform: rotate(20deg) translateX(10%);
    
    
}
.imageContainer:hover .im2{
    transform: rotate(10deg) translateX(1%);

}
.imageContainer div{
    display: block;
    position: absolute;
    
    width:100%;
    height: 100%;
    border-radius: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.NotesHeading{
    font-size: 2em;
    color:#fff;
    padding-top: 30px;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
   
}
.NotesHeading:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.imageContainer div:nth-child(1){
    background-image: url(../assests/image2.jpg);
    background-size: cover;
    transition:0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    transform: rotate(-10deg);
}
.imageContainer div:nth-child(2){
    background-image: url(../assests/image1.jpg);
    background-size: cover;
    transition:0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    transform: rotate(-10deg);
}

.imageContainer div:nth-child(3){
    background-image: url(../assests/image3.jpg);
    background-size: cover;
    transform: rotate(0deg);
    transition:0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

}
.menu{
    display: none;

    cursor: pointer;
}
.ourTeam{
    width: 100vw;
    float:left;
clear:none; 
    display: block;
    margin-top: 0px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgb(180, 180, 180) 100%);;    
}
.cards{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cards div{
    width: 80%;
    background: #fff;
    height: 10rem;
    margin-bottom: 30px;
    border-radius: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

   
}

.cards div h1{
    display: inline-block;
    position: relative;
    font-weight: 400;
    padding-left: 20px;
    color: #383838;
    font-size: 1.5em;
}
.cards div:last-child{
    display: block;
    margin-bottom: 100px;
}
.cards div h2{
   
    font-weight: 400;
    padding-left: 20px;
    color: #000000;
    font-size: 1em;
}

.OurTeamHeader{
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.OurTeamHeader:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.footerDPS{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: #1b1b1b;
    width: 100vw;
}
.footerDPS h1{
    color: #fff;
}




@media only screen and (max-width: 1000px) {
    .imageContainer{
        display: none;
    }
    .navbar{
        display: none;
    }
    .menu{
        display: block;
    }
    .intro{
        display: inline-block;
        position: relative;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
    .introText{
        width: 90vw;
        text-align: center;
    }
    .edu{
        display: none;
    }

    

}